<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to PleasantPaws</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="icons/css/fontawesome.min.css" rel="stylesheet">
    <link href="icons/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar">
        <a href="/" class="title">
            <img src="images/logo.png" alt="Logo">
            <span class="main-text">PleasantPaws</span>
        </a>
        <ul class="navlinks">
            <li><a class="main-text" href="/dogs"><i class="fas fa-dog"></i><span class="main-text"> Our Dogs</span></a></li>
            <li><a class="main-text" href="/cats"><i class="fas fa-cat"></i><span class="main-text"> Our Cats</span></a></li>
            <li><a class="main-text" href="/signup"><i class="fas fa-plus"></i><span class="main-text"> Sign up</span></a></li>
            <li><a class="main-text" href="/login"><i class="fas fa-sign-in-alt"></i><span class="main-text"> Log in</span></a></li>
        </ul>
    </nav>
    
    <h3 class="pretty-header main-text">Log in to your PleasantPaws account</h3>

    <% if (incorrect) { %>
        <h3 class="pretty-header main-text error"><small>Your email or password is incorrect. Please try again.</small></h3>
    <% } %>
    <form action="/login" class="content" method="post">

        <div class="form-item short-item">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="" required>
        </div>
        <div class="form-item short-item">
        <label for="password">Password: *</label>
        <input type="password" name="password" id="password" class="" required>
        </div>

        <div class="form-item full-item short-item">
        <button type="submit">Submit</button>
        </div>
    

    </form>

    <div class="footer">
        <span class="main-text">Copyright <small><i class="fas fa-copyright"></i></small> 2021</span>
        <span class="main-text">
            <small><i class="fas fa-phone"></i></small>&nbsp&nbsp 555-1234
            <br>
            <small><i class="fas fa-envelope"></i></small>&nbsp&nbsp pleasantpaws@example.com
        </span>
    </div>
    
</body>
</html>